*.iml

/ApkRootPlugin/.gradle
/ApkRootPlugin/.idea/*
/ApkRootPlugin/build/*


/app_hook_macos/.gradle
/app_hook_macos/.idea/*
/app_hook_macos/build/*

/AppHook/.gradle
/AppHook/.idea/*
/AppHook/build/*

/XpRoot/.gradle/
/XpRoot/build/
/XpRoot/.idea/
/XpRoot/META-INF/
/XpRoot/out/